<%- include('partials/header') -%>
<div class="jumbotron bg-secondary container" style="text-align: center;">
        <h1 class="display-4">Welcome To LoginRegister Application</h1>
        <p class="lead">This Application Is Authenticated Using Session Authentication</p>
        <hr class="my-4">
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>&nbsp;
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
      </div>
<%- include ('partials/footer');  -%>



